* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    background: url("image.jpge.jpg") center/cover no-repeat fixed;
    position: relative;
}

.background-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(45deg, #bc85d7, #723f87);
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 70px 20px;
    color: white;
}

.hero h1 {
    font-size: 32px;
    letter-spacing: 1px;
}

.container {
    width: 40%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container {
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
}


.card {
    animation: fadeIn 0.8s ease-in-out;
}
.dark-mode {
    background: #121212;
    color: white;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}


button:active {
    transform: scale(0.95);
}


.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin-bottom: 15px;
    color: #6c65f1;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #6c65f1, #8e44ad);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    opacity: 0.85;
}

ul {
    list-style: none;
}

li {
    background: #e3f2fd;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

li:hover {
    background: #bbdefb;
}

#passwordResult,
#formResult {
    font-weight: bold;
    margin-top: 10px;
}
#groceryList li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 5px;
}
.suggestion-box {
    list-style: none;
    background: white;
    max-height: 120px;
    overflow-y: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.suggestion-box li {
    padding: 8px;
    cursor: pointer;
}

.suggestion-box li:hover {
    background: #eee;
}

#groceryList li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 6px;
}
